{% extends 'base.html' %}

{% block content %}
    <div class="row">
            <div class="col-md-3"></div>
                <div class="col-md-6 box vertical-center">
                    <form class="text-center border border-light p-5" action="http://localhost:5000/upload_file" method="POST" enctype="multipart/form-data">
                        <!-- File -->
                        <div class="input-group mb-4">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="file" id="file" aria-describedby="input audio">
                                <label class="custom-file-label" for="file">Choose file</label>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-row mb-4">
                            <div class="col">
                                <!-- Start time -->
                                <input type="text" class="form-control" placeholder="Noise start time" id="noise_start" name="noise_start" required>
                            </div>
                            <div class="col">
                                <!-- End time -->
                                <input type="text" class="form-control" placeholder="Noise end time" id="noise_end" name="noise_end" required>
                            </div>
                        </div>
                        <button class="btn btn-info btn-block" type="submit" name="submit">Upload</button>
                    </form>
                </div>
            <div class="col-md-3"></div>
    </div>
{% endblock %}
